@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-warm-800: #292524;
  --modal-radius-left: 20px;
  --modal-radius-right: 16px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.modal-asymmetric {
  border-radius: var(--modal-radius-left) var(--modal-radius-right) var(--modal-radius-right) var(--modal-radius-left);
}
